<h1>File Metadata Microservice</h1>
<div class="container">
  <form method="post", action="/file-size", enctype="multipart/form-data">
    <input name="file", type="file" id="file">
    <input name="submit", type="submit", value="Submit">
  </form>
</div>
<div class="info">
  <p><span>User Story:</span> I can submit a FormData Object that includes a file upload</p>
  <p><span>User Story:</span> When I submit something, I will receive the file size in bytes within the JSON response</p>
</div>